where2go/where2go/Connected Services/W2GOWCF/Users.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/AppLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AppLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://pen4tech.com/W2GoWcf/Users.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="AppException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Reference" type="ser:guid" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AppException" nillable="true" type="tns:AppException" />
</xs:schema>